{% extends 'base.html' %}
{%load static%}

{% block title %}
Optical glasses
{% endblock %}


{%block background%}
<div>
<link rel="stylesheet" href="{% static 'shop/optical_glasses.css'%}">
<img class="d-block w-100 object-fit"
     src="//cdn.shopify.com/s/files/1/2792/4128/collections/00080_283_2048x.jpg?v=1569533527"
     alt="Optical"/><h1>Optical</h1>
    </div>
{%endblock%}

{% block content %}
{% for product in products %}
<div class="col-4">
    <b>
        <center>{{ product.name }}</center>
    </b>
    <br><a href="{% url 'shop:product_detail' slug=product.slug %}">
    <img src="{{ product.image.url }}" rel="glasses"></a>
    <br>
    <p>{{ product.description }}</p>
    <br>
    <b>Category: {{ product.category }}</b>
    <br>
    <b>{{ product.price }}$</b>
    <br><br><br>
</div>
{% endfor %}
{% endblock %}