img {
    position: relative;
    object-fit: cover;
    height: 400px;
}

img[rel='glasses'] {
    object-fit: cover;
    height: 155px;
    width: 325px;
}
h1 {
    position: absolute;
    top: 200px;
    left: 45%;
    bottom: 0;
    color: white;
    font-weight: normal;
    font-size: 400%;
    font-family: 'Interstate Lt';
}
